#chart {
	width: var(--content-width);
	height: 50vh;
	padding: 12px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border-radius: 12px;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: visible;
}

#width-handle {
	position: absolute;
	top: 0;
	right: -8px;
	bottom: 0;
	width: 16px;
	cursor: ew-resize;
}